{% extends "flux/base.html" %}
{% load static %}

{% block title %}LITReview - Flux{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block header %}
	<div class="col">
	    <a href="{% url 'flux' %}">
	        <img class="logo" src="{% static 'media/logo.png' %}" alt="LITReview">
	    </a>
		<nav class="menu"> 	
	    	<a href="{% url 'flux' %}" class="button primary small">Flux</a>
	        <a href="{% url 'posts' %}" class="button primary small">Posts</a>
	        <a href="{% url 'subs' %}" class="button primary small">Abonnements</a>
	        <a href="{% url 'index' %}" class="button primary small">Se déconnecter</a>
		</nav>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<a href="{% url 'ticket' %}" class="button">
			Demander une critique
		</a>
		<a href="{% url 'critic' %}" class="button primary">
			Créer une critique
		</a>
	</div>
	<div class="view-flux box">
		<div class="review-post box">
			<h5>Vous avez publié une critique</h5>
			<div class="datepost">23 février 2021</div>
			<div class="resume-post"> 
				véritablement révolutionnaire - &#9733; &#9733; &#9733; &#9733; &#9734;
			</div>
			<div class="detail-post box">
				Une excelllente lecture et je vous recommande vivement !
			</div>
			<div class="review-post box">
				<h5>Ticket - jean 8597</h5>
				<div class="datepost">16 février 2021</div>
				<div class="resume-post"> 
					The origin of Spieces - Charles Darwin
				</div>
				<div class="detail-post box">
					Je suis à la recherche d'un avis sur ce sujet, svp , merci!
				</div>
				<div class="btn-right">
					<a href="#" class="button primary disabled">
						Créer une critique
					</a>
				</div>
			</div>
		</div>
		<div class="review-post box">
			<h5>Sarahj a demandé une critique</h5>
			<div class="datepost">21 janvier 2021</div>
			<div class="resume-post box"> 
				Une brève histoire du temps
			</div>
			<div class="btn-right">
				<a href="#" class="button primary">
					Créer une critique
				</a>
			</div>
		</div>
		<div class="review-post box">
			<h5>jean 8597 a demandé une critique</h5>
			<div class="datepost">16 février 2021</div>
			<div class="resume-post box"> 
				The origin of Spieces - Charles Darwin
			</div>
			<div class="detail-post">
				Je suis à la recherche d'un avis sur ce sujet, svp , merci!
			</div>
			<div class="btn-right">
				<a href="#" class="button primary disabled">
					Créer une critique
				</a>
			</div>
		</div>
		<div class="review-post box">
			<h5>Sarahj a publié une critique</h5>
			<div class="datepost">18 décembre 2020</div>
			<div class="resume-post"> 
				Excellent - &#9733; &#9733; &#9733; &#9733; &#9733;
			</div>
			<div class="detail-post">
				-
			</div>
			<div class="review-post box">
				<h5>Ticket - sarahj</h5>
				<div class="datepost">17 décembre 2020</div>
				<div class="resume-post"> 
					Discours de la méthode - René Descartes
				</div>
				<div class="detail-post">
					-	
				</div>
				<div class="btn-right">
					<a href="#" class="button primary">
						Créer une critique
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
    
{% endblock %}