{% extends "critic/base.html" %}
{% load static %}

{% block title %}LITReview - Créer une critique{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block header %}
	<div class="col">
	    <a href="{% url 'flux' %}">
	        <img class="logo" src="{% static 'media/logo.png' %}" alt="LITReview">
	    </a>
		<nav class="menu"> 	
	    	<a href="{% url 'flux' %}" class="button primary small">Flux</a>
	        <a href="{% url 'posts' %}" class="button primary small">Posts</a>
	        <a href="{% url 'subs' %}" class="button primary small">Abonnements</a>
	        <a href="{% url 'index' %}" class="button primary small">Se déconnecter</a>
		</nav>
	</div>
{% endblock %}

{% block content %}
<div class="col">
	<h4>Créer une critique</h4>
	<div class="col box">
		<h5>Livre/Article</h5>
		<form method="post" action="#">
			<h5>Titre</h5>
			<div class="inputform">
				<input type="text" name="title" id="title" value="" placeholder="titre">
			</div>
			<h5>Description</h5>
			<div class="inputform">
				<textarea name="description" id="description" placeholder="Description" rows="6"></textarea>
			</div>
		</form>
		<h5>Image</h5>
		<a href="#" class="button icon solid fa-download">
			Télécharger
		</a>
	</div>
	<div class="col box">
		<h5>Critique</h5>	
		<form method="post" action="#">
			<h5>Titre</h5>
			<div class="inputform">
				<input type="text" name="title" id="title" value="" placeholder="titre">
			</div>
			<h5>Note</h5>
			<input type="radio" id="radio-one" name="radio-one" checked="">
			<label for="radio-one">1</label>
			<input type="radio" id="radio-two" name="radio-two" checked="">
			<label for="radio-two">2</label>
			<input type="radio" id="radio-three" name="radio-three" checked="">
			<label for="radio-three">3</label>
			<input type="radio" id="radio-four" name="radio-four" checked="">
			<label for="radio-four">4</label>
			<input type="radio" id="radio-five" name="radio-five" checked="">
			<label for="radio-five">5</label>
			<h5>Commentaire</h5>
			<div class="inputform">
				<textarea name="comment" id="comment" placeholder="Commentaire" rows="6"></textarea>
			</div>
		</form>
		<a href="#" class="button primary">
			Envoyer
		</a>
	</div>
</div>
{% endblock %}

{% block footer %}
    
{% endblock %}