{% extends "flux/base.html" %}
{% load static %}

{% block title %}LITReview - Abonnements{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block header %}
	<div class="col">
	    <a href="{% url 'flux' %}">
	        <img class="logo" src="{% static 'media/logo.png' %}" alt="LITReview">
	    </a>
		<nav class="menu"> 	
	    	<a href="{% url 'flux' %}" class="button primary small">Flux</a>
	        <a href="{% url 'posts' %}" class="button primary small">Posts</a>
	        <a href="{% url 'subs' %}" class="button primary small">Abonnements</a>
	        <a href="{% url 'index' %}" class="button primary small">Se déconnecter</a>
		</nav>
	</div>
{% endblock %}

{% block content %}
<div class="box">
	<h4>Suivre d'autres utilisateurs</h4>
	<form method="post" action="#">
		<div class="inputform box row-align">
			<input type="text" name="name" id="name" value="" placeholder="Nom d'utilisateur">
	</form>
	<a href="#" class="button primary">
		Envoyer
	</a>
</div>
<div class="box">
	<h4>Abonnements</h4>
	<div class="table-wrapper following">
		<table>
			<thead>
				<tr>
					<th><strong>Nom</strong></th>
					<th colspan="2"> </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>jean_5679</td>
					<td colspan="2"></td>
					<td>
						<a href="#" class="button fit">
							Désabonner
						</a>
					</td>
				</tr>
				<tr>
					<td>sarahj</td>
					<td colspan="2"></td>
					<td>
						<a href="#" class="button fit">
							Désabonner
						</a>
					</td>
				</tr>
				<tr>
					<td>severine123</td>
					<td colspan="2"></td>
					<td>
						<a href="#" class="button fit">
							Désabonner
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div>
</div>
<div class="box">
	<h4>Abonnés</h4>
	<div class="table-wrapper followers">
		<table>
			<thead>
				<tr>
					<th><strong>Nom</strong></th>
					<th colspan="2"> </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>jean_5679</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td>severine123</td>
					<td colspan="2"></td>
				</tr>
			</tbody>
			<tfoot>

			</tfoot>
		</table>
	</div>
</div>
{% endblock %}

{% block footer %}
    
{% endblock %}