{% extends "ticket/base.html" %}
{% load static %}

{% block title %}LITReview - Créer un ticket{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block header %}
	<div class="col">
	    <a href="{% url 'flux' %}">
	        <img class="logo" src="{% static 'media/logo.png' %}" alt="LITReview">
	    </a>
		<nav class="menu"> 	
	    	<a href="{% url 'flux' %}" class="button primary small">Flux</a>
	        <a href="{% url 'posts' %}" class="button primary small">Posts</a>
	        <a href="{% url 'subs' %}" class="button primary small">Abonnements</a>
	        <a href="{% url 'index' %}" class="button primary small">Se déconnecter</a>
		</nav>
	</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col box">
		<h4>Créer un ticket</h4>
		<form method="post" action="#">
			<h5>Titre</h5>
			<div class="inputform ">
				<input type="text" name="title" id="title" value="" placeholder="titre">
			</div>
			<h5>Description</h5>
			<div class="inputform" box>
				<textarea name="description" id="description" placeholder="Description" rows="6"></textarea>
			</div>
		</form>
		<h5>Image</h5>
		<div class="col">
			<a href="#" class="button icon solid fa-download">
				Télécharger une image
			</a>
			<a href="#" class="button primary">
				Envoyer
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
    
{% endblock %}