<!DOCTYPE HTML>
<html lang="en">
	<head>
  		<title>LITReview - Créer un ticket</title>
  		<meta http-equiv="Content-Type" content="text/html">
  		<meta charset="UTF-8">
  		<meta name="Author" content="***">
  		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<header id="header">
			<div class="col">
			<a href="" class="logo">
				LITReview
			</a>
			<nav class="menu"> 	
	        	<a href="#" class="button primary small">Flux</a>
		        <a href="#" class="button primary small">Posts</a>
		        <a href="#" class="button primary small">Abonnements</a>
		        <a href="#" class="button primary small">Se déconnecter</a>
			</nav>
			</div>
		</header>
		<main>
			<div class="row">
				<div class="col box">
					<h4>Créer un ticket</h4>
					<form method="post" action="#">
						<h5>Titre</h5>
						<div class="inputform ">
							<input type="text" name="title" id="title" value="" placeholder="titre">
						</div>
						<h5>Description</h5>
						<div class="inputform" box>
							<textarea name="description" id="description" placeholder="Description" rows="6"></textarea>
						</div>
					</form>
					<h5>Image</h5>
					<div class="col">
						<a href="#" class="button icon solid fa-download">
							Télécharger une image
						</a>
						<a href="#" class="button primary">
							Envoyer
						</a>
					</div>
				</div>
			</div>
		</main>
		<footer>
			
		</footer>
	</body>
</html>